/*
navy: #001F3F 
blue: #0074D9 
aqua: #7FDBFF 
teal: #39CCCC 
olive: #3D9970 
green: #2ECC40 
lime: #01FF70 
yellow: #FFDC00 
orange: #FF851B 
red: #FF4136 
maroon: #85144B 
fuchsia: #F012BE 
purple: #B10DC9 
black: #111111 
gray: #AAAAAA 
silver: #DDDDDD
white: #FFFFFF
*/


/**
 * General
 */
body {
  background: #3D9970;
  color: #FFFFFF;

  transition: background 0.5s ease;
}

button {
  background: #0074D9;
  border: 0;
  padding: 0.2em 1em;
}
button[disabled] {
  background: #DDDDDD;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}



/**
 * Brush
 */
.brush-picker {
  position: absolute;
  bottom: 0; left: 0;
}
.brush-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 0px 0px black;
  transition: all 0.2s ease;
}
.brush-color.selected {
  box-shadow: 1px 1px 1px 0px black;
}



/**
 * ConnectionList
 */
.connection-list {
  margin-top: 20px;
}
.connection-list--item {
  font-size: 30px;
  margin: 20px 10px;
}


/**
 * CaptureImage
 */
.capture-image video {
  position: absolute;
  top: 0; left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.capture-image .capture-button {
  position: fixed;
  bottom: 30px;
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  font-size: 36px;
  border-radius: 50%;
  padding: 0;
  background: none;
  border: solid 5px #DDDDDD;
}
.capture-image .capture-button span {
  margin-top: 10px;
  color: #DDDDDD
}


/**
 * DrawDoodle
 */
.draw-doodle canvas {
  position: absolute;
  top: 0; left: 0;
  margin: 0;
}
.draw-doodle--actions {
  position: absolute;
  top: 10px;
  left: 10px;
}


/**
 * ImageView
 */
.image-view img {
  margin: 0;
}